input[type='file'] {
    display: none;
}
.center-vertical {
    margin: auto;
    width: 60%;
    height: 90vh;
    text-align: center;
    /* border: solid red 1px; */
}

@media only screen and (min-width: 960px) {
    #editor {
        margin: auto;
        width: 60%;
        height: 90vh;
        text-align: center;
        border: solid red 1px;
    }
}

table,
th,
td {
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    height: 100%;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.height5percent {
    height: 10px;
    text-align: center;
    /* border: solid red 10px; */
}

.border {
    border: solid green 1px;
}

.top15 {
    position: relative;
    top: 10vh;
}

.top20 {
    position: relative;
    top: 20vh;
}

.top18 {
    position: relative;
    top: 18vh;
}

.fullwidth {
    width: 100%;
}
